#loading {
  width: 100%;
  height: 100vh;
  background: #fff url("./Lightning.gif") no-repeat center;
  position: fixed;
  z-index: 9999;
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* .effect {
  background-image: url("https://res.cloudinary.com/customzone-app/image/upload/v1641026753/Battleground-Mobile-India_phqukn.jpg");
  position: relative;
} */
